/dependencies/
/build/
.DS_Store
*.iml
/.gradle
/.idea/inspectionProfiles
/.idea/libraries
/.idea/modules
/.idea/gradle.xml
/.idea/modules.xml
/.idea/tasks.xml
/.idea/workspace.xml
/local.properties
/captures
.externalNativeBuild

